@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #262736;
    color: white;
}

.cursor-small {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background-color: #ea0071;
  mix-blend-mode: lighten;
}

.cursor-big {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
  height: 30px;
  width: 30px;
  background-color: #0038af;
  mix-blend-mode: lighten;
  transition: transform 350ms ease-out;
}


/*Everything pertaining to the HEADER and top of the website*/
#header{
    background: #262736;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
}
.container{
    padding: 20px 12%;
}
.navbar{
    background: #262736;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 5px 15px 15px rgba(0,0,0,.4);
}
/*
.rainbow-box {
    width: 102%;
    left: -1px;
    height: 1.25px;
    margin-top: 60px;
    border-radius: 5px;
    position: fixed;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 168, 0, 1) 12.5%,
        rgba(250, 255, 33, 1) 25%,
        rgba(5, 255, 0, 1) 37.5%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 117, 255, 1) 62.5%,
        rgba(151, 71, 255, 1) 75%,
        rgba(255, 0, 229, 1) 87.5%,
        rgba(255, 0, 0, 1) 100%
    );
    z-index: 2;
}
*/
.rainbow-box {
  width: 102%;
  left: -1px;
  height: 1.25px;
  margin-top: 60px;
  border-radius: 5px;
  position: fixed;
  background: linear-gradient(
      90deg,
      #ea0071 0%,
      #9747FF 50%,
      #0038af 100%
  );
  z-index: 2;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 8px;
    right: 80px; /*change menu text*/
    font-family: 'Space Mono', monospace;
    font-size: 8px;
    z-index: 2; 
}
.logo{
    width: 80px;
    position: fixed;
    left: 80px; /*change position of the logo*/
    top: -10px;
    transition: transform 0.5s;
    z-index: 2;
}
.logo:hover{
    transform: scale(1.05);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-style: bold;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9747FF;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
}
.header-text p{
    margin-top: 80px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    width: 840px;
    border-right: .15em solid #9747FF; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: -20 20px; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(60, end),
      blink-caret 0.5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 850px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9747FF }
  }
.header-text h1{
    font-size: 80px;
    letter-spacing: 5px;
    font-family: 'DM Sans', sans-serif;
}
.header-text h1 span{
    display: inline-block;
    background: linear-gradient(
        to right,
        #ea0071 0%,
        #9747FF 50%,
        #0038af 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px;
}
.arrow{
    margin-top: 150px;
    scale: 3%;
}


/*Everything pertaining to the ABOUT section*/
#about{
    padding: 100px 0;
    color: #ebebeb;
    background: #20212E;
    font-family: 'DM Sans', sans-serif;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}
.self-img{
    width: 700px;
}
.heart-img{
    position: absolute;
    right: 50%;
    top: 60%;
    z-index: 0.5;
    scale: 25%;
}
.about-col-1{
    flex-basis: 35%;
    position: relative;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.about-col-1 img:hover{
    transform: translateY(-10px);
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 24px;
    font-width: 600;
    color: #ffffff;
}
.paragraph{
    margin-top: 30px;
    font-size: 16px;
}
.tab-titles{
    display: flex;
    margin: 40px 0px 60px;
}
.tab-links{
    font-family: 'Space Mono', monospace;
    color: #8494A0;
    margin-right: 100px;
    font-size: 16px;
    font-weight: 500;
    font-style: bold;
    position: relative;
}
.tab-links::after{
    color: white;
    content: '';
    width: 0;
    height: 3px;
    background: #9747FF;
    position: absolute;
    left: 0;
    bottom: -8px;
    border-radius: 20px;
    transition: 0.5s;
}
.tab-links.active-link{
    color:white;
}
.tab-links.active-link::after{
    width: 100%;
    color: white;
}
.tab-links:hover::after{
    width: 50%;
}
.tab-links.active-link:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 16px;
}
.tab-contents ul li span{
    color: #9747FF;
    margin-top: 10px;
    font-size: 16px;
}
.tab-contents ul li a{
    color: white;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/*Everything pertaining to the PROJECTS section*/
#projects{
    padding: 100px 0;
    background: #262736;
    font-family: 'DM Sans', sans-serif;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    border: 2px solid #9747FF;
}
.projects-list div p{
    margin-right: 20%;
}
.website{
    background: linear-gradient(-90deg, rgba(0, 0, 0, .6), #20212E 30%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.edu-everywhere{
    background: linear-gradient(-90deg, rgba(0, 0, 0, .6), #20212E 30%);
}
.remindchuu{
    background: linear-gradient(-90deg, rgba(0, 0, 0, .6), #20212E 30%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.blanc{
    background: linear-gradient(-90deg, rgba(0, 0, 0, .6), #20212E 30%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.runnergame{
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, .6), #20212E 30%),
    url('/runner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.projects-list div i{
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.projects-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #9747FF;
    font-family: 'Space Mono', monospace;
}
.projects-list div a{
    text-decoration: underline;
    color: white;
    margin-top: 20px;
    display: inline-block;
    font-size: 16px 
}
.projects-list div:hover{
    transform: translateY(-10px);
}
.projects-list div:hover{
    animation: gradient-border 5s ease infinite;
    
}
.projects-list div:hover .heading{
    animation: gradient-color 5s ease infinite;
}

@keyframes gradient-color {
	0% {
		color: #e73c7e;
	}
    25% {
		color: #9747FF;
	}
	50% {
		color: #0038af;
	}
	75% {
		color: #9747FF;
	}
    100% {
		color: #e73c7e;
	}
}

@keyframes gradient-border {
	0% {
		border: 2px solid #e73c7e;
	}
    25% {
		border: 2px solid #9747FF;
	}
	50% {
		border: 2px solid #0038af;
	}
	75% {
		border: 2px solid #9747FF;
	}
    100% {
		border: 2px solid #e73c7e;
	}
}



/*Everything pertaining to the CONTACT section*/
#contact{
    background: #20212E;
    font-family: 'DM Sans', sans-serif;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ffffff;
    padding: 15px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    transition: background 0.5s;
    }
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i{
    color: #9747FF;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(155, 153, 161);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #9747FF;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background:  linear-gradient(
        to right,
        #ea0071 0%,
        #9747FF 50%,
        #0038af 100%
    );
    font-size: 20px;
    transition: transform 350ms ease-out;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262736;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
    font-family: 'Space Mono', monospace;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}
.btn.btn2:hover{
    transform: translateY(-5px);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262736;
}
::placeholder {
    color:  rgb(155, 153, 161);
    opacity: 1; /* Firefox */
  }

  @keyframes gradient-background {
    0% {
        background: 2px solid #e73c7e;
    }
    25% {
        background: 2px solid #9747FF;
    }
    50% {
        background: 2px solid #0038af;
    }
    75% {
        background: 2px solid #9747FF;
    }
    100% {
        background: 2px solid #e73c7e;
    }
}


/* CSS for small screens */
nav .fas{
    display: none;
}


@media only screen and (max-width: 1250px){
    .row{
        display: inline-block;
    }
    .heart-img{
        right: 75%;
    }
    .about-col-2{
        margin-top: 100px;
        margin-bottom: -500px;
    }
    .about-col-1 img{
        width: 50%;
        position: center;
    }
    .sub-title{
        font-size: 50px;
    }
    .projects-list div p{
        margin-right: 1%;
    }
    .tab-contents{
        margin-bottom: -300;
    }
    .projects-list div p{
        margin-right: 40%;
    }

}

@media only screen and (max-width: 890px){
    .rainbow-box{
        margin-top: 50px;
    }
    .cursor-big{
        display: none;
    }
    .cursor-small{
        display: none;
    }
    .header-text{
        margin-top: 40%;
        font-size: 18px;
        letter-spacing: 0px;
    }
    .header-text h1{
        font-size: 29px;
        letter-spacing: 1px;
    }
    .header-text h1 span{
        font-size: 29px;
        letter-spacing: 1px;
    }
    .header-text p{
        display: none;
        font-size: 15px;
        letter-spacing: 1px;
        width:100%;
        white-space: wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        margin-top: 10%;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: none; /* The typewriter cursor */
        margin: -20 20px; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: none;
      }
    .arrow{
        margin-top: 350px;
        margin-left: 15%;
    }

    .projects-list div p{
        margin-right: 10%;
    }
    .logo{
        width: 80px;
        top: -15px;
        left: 15px;
    }
    nav .fas{
        /*display: block;*/
        font-size: 25px;
        position: fixed;
        right: 30px;
        top: 12px;
    }
    nav ul{
        background: #9747FF;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100%;
        padding-top: 50px;
        z-index: 1;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        font-size: 20px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        font-size: 30px;
    }
    .navbar{
        height: 50px;
    }
    .sub-title{
        font-size: 30px;
    }
    .self-img{
        display: none;
    }
    .heart-img{
        display: none;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        margin-right: 15%;
    }
    .about-col-1{
        margin-bottom: -130px;
    }
    .about-col-2{
        margin-right: 0%;
    }
    .about-col-2 p{
        font-size: 14px;
        margin-right: 4%;
    }
    .tab-contents ul li{
        font-size: 14px;
    }
    .projects-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .copyright{
        font-size: 14px;
    }
    .projects-list div h2{
        font-size: 20px;
    }
    .projects-list div p{
        font-size: 16px;
    }
    .projects-list div i{
        font-size: 20px;
    }
    .play-game{
        position: relative;
        display: inline;
        margin: 0;
    }
    .play-game::before{
        content: "\a";
        white-space: pre;
    }
}

